USE [master]
GO
/****** Object:  Database [LhlK22CNT3_Lesson11]    Script Date: 7/4/2024 9:44:26 AM ******/
CREATE DATABASE [LhlK22CNT3_Lesson11]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'LhlK22CNT3_Lesson11', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\LhlK22CNT3_Lesson11.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'LhlK22CNT3_Lesson11_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\LhlK22CNT3_Lesson11_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [LhlK22CNT3_Lesson11].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [LhlK22CNT3_Lesson11]
GO
/****** Object:  Table [dbo].[LHLCategory]    Script Date: 7/4/2024 9:44:26 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LHLCategory](
	[LhlId] [int] NOT NULL,
	[LhlCateName] [nvarchar](50) NULL,
	[LhlStatus] [bit] NULL,
 CONSTRAINT [PK_LHLCategory] PRIMARY KEY CLUSTERED 
(
	[LhlId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LHLProduct]    Script Date: 7/4/2024 9:44:26 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LHLProduct](
	[LhlId2210900037] [nvarchar](50) NOT NULL,
	[LhlProName] [nvarchar](50) NULL,
	[LhlQty] [int] NULL,
	[LhlPrice] [float] NULL,
	[LhlCateId] [int] NULL,
	[LhlActive] [bit] NULL,
 CONSTRAINT [PK_LHLProduct] PRIMARY KEY CLUSTERED 
(
	[LhlId2210900037] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[LHLCategory] ([LhlId], [LhlCateName], [LhlStatus]) VALUES (1, N'2210900037', 1)
INSERT [dbo].[LHLCategory] ([LhlId], [LhlCateName], [LhlStatus]) VALUES (2, N'Lê Hoàng Long', 1)
GO
INSERT [dbo].[LHLProduct] ([LhlId2210900037], [LhlProName], [LhlQty], [LhlPrice], [LhlCateId], [LhlActive]) VALUES (N'2210900037', N'Lê Hoàng long', 10, 10000, 1, 1)
INSERT [dbo].[LHLProduct] ([LhlId2210900037], [LhlProName], [LhlQty], [LhlPrice], [LhlCateId], [LhlActive]) VALUES (N'S001', N'Lê Hoàng Việt', 5, 10000, 2, 1)
GO
USE [master]
GO
