USE [master]
GO
/****** Object:  Database [LeHoangLong_2210900037]    Script Date: 7/11/2024 10:15:07 AM ******/
CREATE DATABASE [LeHoangLong_2210900037]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'LeHoangLong_2210900037', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\LeHoangLong_2210900037.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'LeHoangLong_2210900037_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\LeHoangLong_2210900037_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [LeHoangLong_2210900037].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [LeHoangLong_2210900037]
GO
/****** Object:  Table [dbo].[Lhl_Sach]    Script Date: 7/11/2024 10:15:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Lhl_Sach](
	[Lhl_MaSach] [char](5) NOT NULL,
	[Lhl_TenSach] [nvarchar](50) NULL,
	[Lhl_SoTrang] [int] NULL,
	[Lhl_NamXB] [int] NULL,
	[Lhl_MaTG] [char](5) NULL,
	[Lhl_TrangThai] [bit] NULL,
 CONSTRAINT [PK_Lhl_Sach] PRIMARY KEY CLUSTERED 
(
	[Lhl_MaSach] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Lhl_TacGia]    Script Date: 7/11/2024 10:15:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Lhl_TacGia](
	[Lhl_MaTG] [char](5) NOT NULL,
	[Lhl_TenTG] [nvarchar](50) NULL,
 CONSTRAINT [PK_Lhl_TacGia] PRIMARY KEY CLUSTERED 
(
	[Lhl_MaTG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Lhl_Sach] ([Lhl_MaSach], [Lhl_TenSach], [Lhl_SoTrang], [Lhl_NamXB], [Lhl_MaTG], [Lhl_TrangThai]) VALUES (N'MS001', N'Conan Thám Tử', 240, 2014, N'TG001', 1)
INSERT [dbo].[Lhl_Sach] ([Lhl_MaSach], [Lhl_TenSach], [Lhl_SoTrang], [Lhl_NamXB], [Lhl_MaTG], [Lhl_TrangThai]) VALUES (N'MS002', N'Lê Hoàng Long', 200, 2024, N'TG002', 1)
GO
INSERT [dbo].[Lhl_TacGia] ([Lhl_MaTG], [Lhl_TenTG]) VALUES (N'TG001', N'Lê Hoàng Long')
INSERT [dbo].[Lhl_TacGia] ([Lhl_MaTG], [Lhl_TenTG]) VALUES (N'TG002', N'Lê Hoàng Việt')
GO
USE [master]
GO
