USE [master]
GO
/****** Object:  Database [LHLK22CNT3_Ls10]    Script Date: 7/3/2024 9:22:31 AM ******/
CREATE DATABASE [LHLK22CNT3_Ls10]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'LHLK22CNT3_Ls10', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER01\MSSQL\DATA\LHLK22CNT3_Ls10.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'LHLK22CNT3_Ls10_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER01\MSSQL\DATA\LHLK22CNT3_Ls10_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [LHLK22CNT3_Ls10].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [LHLK22CNT3_Ls10]
GO
/****** Object:  Table [dbo].[LhlAccount]    Script Date: 7/3/2024 9:22:31 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LhlAccount](
	[LhlId] [int] NOT NULL,
	[LhlUserName] [nvarchar](50) NULL,
	[LhlPassword] [nvarchar](50) NULL,
	[LhlFullName] [nvarchar](50) NULL,
	[LhlEmail] [nvarchar](50) NULL,
	[LhlPhone] [nvarchar](50) NULL,
	[LhlActive] [bit] NULL,
 CONSTRAINT [PK_LhlAccount] PRIMARY KEY CLUSTERED 
(
	[LhlId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[LhlAccount] ([LhlId], [LhlUserName], [LhlPassword], [LhlFullName], [LhlEmail], [LhlPhone], [LhlActive]) VALUES (1, N'Long', N'hoanglong', N'Lê Hoàng Long', N'lehoanglong26072004@gmail.com', N'0349393995', 1)
GO
USE [master]
GO
